.flag-icon {
    width: 16px;
    height: 16px;
    display: flex;
    min-width: 16px;
    background-color: #eee;
}

.flag-icon-option {
    margin-right: 8px;
}

.dropdown {
    position: relative;
}

.dropdown-error {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 4px;
    color: red;
}

.dropdown-error-icon {
    margin-right: 4px;
}

.countries-dropdown-button {
    width: 145px;
    border-radius: 3px;
    padding: 6px 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countries-dropdown-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 6px; 
  
}

.dropdown-arrow {
    min-width: 8px;
}

.menu {
    position: absolute;
    z-index: 2;
    width: 230px;
    margin-top: 3px;
}

.blanket {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

.search {
    z-index: 2;
}

.control-search-icon {
    margin-left: 8px;
}

.option-formatted {
    display: flex;
    align-items: center;
}

.option-center-value {
    white-space: normal;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
}

.option-right-value {
    color: rgba(0, 0, 0, 0.52);
    margin-left: auto;
}